# Ignore MacOS stuff
*.DS_Store

# We don't need the checkpoints
.ipynb_checkpoints
\IPython
# Forget cache stuff
__pycache__
*.pyc

lib/*.so
lib/*.html

#ignore IDE settings folders
\.idea/
\.spyproject/
\.vscode

# ignore local settings
SETTINGS.ini
settings/personalSettings
\.DS_Store

# ignore cython builds
/build/
*.so
*.pyd
*.c

# ignore h5 data files
*.h5

# ignore old docs build
# docs/build/

# ignore virtual environments
venv/
venv-hextof/
# ignore Tutorial files
Tutorial/h5/
Tutorial/raw/
Tutorial/results/
Tutorial/parquet/

# ignore Notebooks folder
Notebooks
