# We don't need the checkpoints
.ipynb_checkpoints
\IPython
# Forget cache stuff
__pycache__
*.pyc

lib/*.so
lib/*.c
lib/*.html

#ignore IDE settings folders
\.idea/
\.spyproject/

# ignore local settings
SETTINGS.ini
\.DS_Store

# ignore cython builds
/build/
*.so
*.pyd

*.ini

# ignore old docs build
# docs/build/